@import url(http://fonts.googleapis.com/css?family=Peralta);
@import url(http://fonts.googleapis.com/css?family=Syncopate);

/** Added Base Code From Original CSS File **/

main {

}

header {
  margin-top: -8.5em;
}

nav {
  margin: 1.5em;
  border: solid thin black;
}

ul {
  text-align: center;
  height: 75px;
}

p {
  font-family: Syncopate;
  font-size: 30px;
  margin: 40px;
}

table {
  margin-right: auto;
  margin-left: auto;
}

td {
  padding: .2em;
}

footer {
  background-color: #3A59BA;
  padding: 10px;
  clear: both;

}

h4 {
  text-align: center;
  font-size: 30px;
}

section {
  height: 500px;
}
