/*Reusable Code*/

.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  display: block;
  outline: none;
}

.socialMedia {
 margin: -5em 4em .5em .5em;
 padding: 8px 0px 0px 3em;
 opacity: .7;
 float: left;
}

.j {
  float: right;
  margin: -2.7em;
  font-family: coming soon;
  font-size: 30px;
}

.sectionImage {
  padding: .5em;
}

/* Header */

.logoText {
  font-family: amatic sc;
  text-transform: uppercase;
  font-size: 120px;
  text-align: center;
  padding-top: 10%;

}

.navHead {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg');
}

.nav {
  font-size: 45px;
  display: inline-block;
  font-family: benchnine,lucida sans unicode;
  padding: 1px 5px;
  border: ;
  margin: 10px;
}

.navList a {
  text-decoration: none;
  color: inherit;
}

.cover {
  background-image:url("http://i694.photobucket.com/albums/vv309/pacalabre/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.jpg");
  height: 350px;

}

/* Main Page */

.main-text {
  font-size: 30px;
  font-family: beforebreakfast;
}

.orderText {
  font-size: 60px;
  text-align: center;
  padding-top: 1px;
  clear: both;
}

.main-description {
  text-align: center;
  font: 20px coming soon;
  background-color: #6182E6;
  clear: both;
  margin-top: 1em;
}

/*Custom Order Page*/

.form {
margin-top: 5em;
}

/* About Page */

.vt {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

 /* Media Queries */

@media only screen and (max-width: 499px) {

    .logoText {
      margin-top: 1.8em;
      padding-top: .9em;
      font-size: 75px;
      }

    .nav {
    display: block;
    margin-left: -1em;

    }

    .j {
      display: none;
    }

  }

@media only screen and (min-width: 450px) and (max-width: 599px) {

  .logoText {
    margin-top: 1.6em;
    padding-top: 1em;
    font-size: 85px;
  }

  .nav {
    display: block;
    margin-left: -1em;
  }

  .j {
    display: none;
  }

}

@media only screen and (min-width: 600px) and (max-width: 699px) {

  .logoText {
    margin-top: 1.5em;
    font-size: 90px;
    padding-top: 1em;
    }

  .nav {
    font-size: 30px;
  }

  .navList {
    margin-left: -2em;
  }

}

@media only screen and (min-width: 700px) and (max-width: 849px) {

  .logoText {
    margin-top: 1.4em;
    font-size: 95px;
    }

  .nav {
    font-size: 35px;
  }

  .navList {
    margin-left: -3em;
  }
}

@media only screen and (min-width: 850px) {

  .logoText {
    margin-top: 1.3em;
    font-size: 100px;
    }

  .navList {
    margin-left: -4em;
  }
}

@media only screen and (min-width: 1000px) {

  .logoText {
    margin-top: 1em;
    font-size: 120px;
    }

@media only screen and (min-width: 1200px) {

  .logoText {
    margin-top: .5em;
    font-size: 135px;
    }

  .navList {
    margin-left: -6em;
  }
}
}

