/*Reusable Code*/

.fixed {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  display: block;
  outline: none;
}

.socialMedia {
 margin: -9em 7em .5em .5em;
 padding: 8px 0px 0px 0em;
 opacity: .7;
 float: right;
}

.sectionImage {
  height: 350px;
  width: 400px;
  padding: .5em;
}

/* Header */

.logoText{
  font-family: amatic sc;
  text-transform: uppercase;
  font-size: 170px;
  text-align: center;
  padding-top: .40em;

}

.navHead {
  background-image: url('http://i694.photobucket.com/albums/vv309/pacalabre/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg');
}

.nav {
  font-size: 45px;
  display: inline-block;
  font-family: benchnine,lucida sans unicode;
  padding: 1px 5px;
  border: ;
  margin: 10px;
}

.navList a {
  text-decoration: none;
  color: inherit;
}

.cover {
  background-image:url("http://i694.photobucket.com/albums/vv309/pacalabre/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.jpg");
  height: 350px;

}

/* Main Page */

.main-text {
  font-size: 30px;
  font-family: beforebreakfast;
}

.orderText {
  font-size: 60px;
  text-align: center;
  padding-top: 1px;
  clear: both;
}

.main-description {
  text-align: center;
  font: 20px coming soon;
  background-color: #6182E6;
  clear: both;
  margin-top: 1em;
}

/*Custom Order Page*/

.form {
margin-top: 5em;
}

/* Media Queries */

@media screen and (max-width: 1000px) {

  .logoText {
    font-size: 160px;
    padding-top: .55em;
  }
  .nav {
    font-size: 40px;
  }

}

@media screen and (max-width:780px){

  .logoText {
    font-size: 120px;
    padding-top: 1em;
  }

  .nav {
    font-size: 30px;
  }

    .socialMedia {
   margin: -6em 7em .5em .5em;
   padding: 8px 0px 0px 0em;
   opacity: .7;
   float: right;
  }

}

@media screen and (max-width: 580px) {

  .logoText {
    font-size: 100px;
    padding-top: 1.3em;
  }

  .nav {
    display: block;
  }

  .sectionImage {
    width: 100%;
  }

    .socialMedia {
   margin: -3em 7em .5em .5em;
   padding: 8px 0px 0px 0em;
   opacity: .7;
   float: right;
  }

   .cover {
    background-attachment: local;
  }

}

@media screen and (max-width: 470px) {

  .logoText {
      font-size: 80px;
      padding-top: 1.8em;
    }

  .socialMedia {
     margin: -2em 8em .5em .5em;
     padding: 8px 0px 0px 0em;
     opacity: .7;
     float: right;
  }

  .cover {
    background-attachment: local;
  }

}

